.test-container {
    width: 1%;
    margin: 0 auto;
    background-color: #f2c300;
}

.inner-container {
    background-color: lightgray;
}

legend {
    border-style: double;
    background-color: black;
    color: white;
}

body {
    background: no-repeat center fixed;
    background-size: cover;
}

textarea {
   resize: none;
}